In [3]:
import requests
data={
            "username": "Rakesh",
            "password": "RakeshPpatil"
        }
res = requests.post(f"http://localhost:8080/token",json=data)
print(res.status_code)
results = res.json()['token_type']
print(results)

bearer

In [32]:
import numpy as np # linear algebra
import pandas as pd # pandas for dataframe based data processing and CSV file I/O
import requests
import time
from datetime import datetime

In [40]:
def convert_to_datetimestamp(given_date):
    """
        converts datetime to timestamp unix
    """
    time_tuple = given_date.timetuple()
    timestamp =round(time.mktime(time_tuple))
    return timestamp

def convert_to_datetime(given_date):
    """
        converts timestamp unix to datetime
    """
    return datetime.fromtimestamp(given_date)

# print(convert_to_datetimestamp(datetime.today()))

In [46]:
start_timestamp  = convert_to_datetimestamp(datetime(2022,9,1))
end_timestamp = convert_to_datetimestamp(datetime.today())
interval = '1M'
url = f"https://priceapi.moneycontrol.com/techCharts/indianMarket/stock/history?symbol=TATASTEEL&resolution={interval}&from={start_timestamp}&to={end_timestamp}"
req = requests.get(url).json()

In [47]:
df = pd.DataFrame(req)

ValueError: If using all scalar values, you must pass an index

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   s       7 non-null      object
 1   t       7 non-null      int64
 2   o       7 non-null      float64
 3   h       7 non-null      float64
 4   l       7 non-null      float64
 5   c       7 non-null      float64
 6   v       7 non-null      int64
dtypes: float64(4), int64(2), object(1)
memory usage: 520.0+ bytes

In [ ]:
df['t'] = df['t'].apply(lambda x: convert_to_datetime(x))

In [ ]:
df

    s                   t       o       h       l       c         v
0  ok 2022-09-01 05:30:00  107.00  107.75  105.90  106.40  52454732
1  ok 2022-09-02 05:30:00  107.00  107.00  105.00  105.50  45601352
2  ok 2022-09-05 05:30:00  106.05  107.30  105.80  106.90  40352735
3  ok 2022-09-06 05:30:00  107.40  108.80  106.05  108.60  59505849
4  ok 2022-09-07 05:30:00  107.55  108.90  107.10  107.60  43945660
5  ok 2022-09-08 05:30:00  108.40  108.40  105.35  105.85  71228405
6  ok 2022-09-09 05:30:00  107.00  107.35  105.50  105.70  63647166